# Not applied directly - create the real secret with:
#   kubectl create secret generic orthanc-creds -n argo \
#     --from-literal=username=<ORTHANC_USERNAME> \
#     --from-literal=password=<ORTHANC_PASSWORD>
apiVersion: v1
kind: Secret
metadata:
  name: orthanc-creds
  namespace: argo
type: Opaque
stringData:
  username: change-me
  password: change-me
